.div-form-field {
  display: flex;
  flex-direction: column;
}

.field-full {
  width: 100%;
}

.field-half {
  width: 48%;
}

.div-form-field label {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 43px;
  color: var(--white-smoke);
}

.div-form-field input {
  height: 40px;
  font-size: 24px;
  padding: 0 12px;
}

.div-form-field-radio {
  display: flex;
  align-items: center;
}

.div-form-field-radio input {
  width: 18px;
}

.div-form-field-radio label {
  margin-left: 12px;
  margin-right: 18px;
}

@media screen and (max-width: 768px) {
  .field-half {
    width: 100%;
  }
}
